*{
  background: orange;
}

h2{
  padding-left: 2rem;
  padding-bottom: 1rem;
}

form{
  background: cornflowerblue;
  padding-bottom: 150px;
  text-align: left;
  display: grid;
}

.formbox{
  background: yellow;
  border-radius: 25px;
  display: grid;
  height: 400px;
  width: 400px;
  max-width: 70%;
  margin: 1rem;
  border-width: 2px;
  border-style: solid;

}

h6{
  padding-top: 30px;
  margin-top: 20px; 
  margin-left:30px;
  background: none;
  font-weight: bolder;
}

.submit{
text-align: center;
margin-top: 3rem;
margin-left: 12rem;
margin-bottom: 20%;
max-width: 40%;
background: cornflowerblue;
border-style: solid;
border-width: 2px;
border-color: black;
font-weight: bolder;
}
.email{
  text-align: left;
  margin-top: 2rem;
  margin-left: 1.5rem;
  max-width: 70%;  
}

.username{
text-align: left;
margin-top: 2rem;
margin-left: 1.5rem;
max-width: 70%;
}

.password{
text-align: left;
margin-top: 3rem;
margin-left: 1.5rem;
max-width: 70%;
}

