/* * {box-sizing: border-box;}
.wrapper {
  display: grid;
  max-width: 100%;
  margin: 0 auto;

} */
/* 
.img{
  width: 50%;
  height: 50%;
} */
.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: .125rem 0  0 0;
  color: #d9480f;
}
.wrapper {
  display: grid;
  /* margin: 0 auto; */
  grid-template-columns: 6fr 1fr 1fr;
  grid-template-rows: .100fr .1fr 1fr .1fr .05fr;
  /* grid-gap: .25rem .040rem; */
  /* grid-area: inherit; */
  
  
  /* grid-auto-rows: minmax(2rem, auto); */
}

/* Main header */

.one {
  grid-column-start: 1;
  grid-column-end: 8; 
}

/* sidebar orange bar */

.two {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-end: 8;
}

/* Synthesizer */

.three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end:3;
  /* grid-column-end: 3; */
}

/* Table */

.four {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end:3;
}

/* Table */

.five {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end:3;
}

/* Mid horizontal bar */

.six {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-end: 6;
}

/* Footer */

.seven {
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-end: 6;
}
