body{margin: 0px;}

/* Text color slider and label */
.yeahdiv> div{
  border-radius: 25px;
  background-color: none;
  color: white; 
  font-size: .5rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}



  
 div .yeahdiv {
   
    display: grid;
    grid-template-columns: 30%  20% 10% 10% 10% 10% ;
    grid-template-rows: 90px   ;
   justify-content: center;

  }
  
div.controlWave{
  grid-column: 1;
  grid-row: 1/2
}


/* FilterF   */
div .divider .filterF { 
  
  grid-row: 3;
  text-align: center;
  background: #ffc107;
  justify-content: center;
  align-content: center;
  border-radius: 0px 0px 0px 25px;
  grid-area: FilterF ;

}


/* FilterG */
 div .divider .filterG{
  
  grid-column: 2;

  background: #dc3545;  
  text-align: center;

 
  grid-area: FilterG ;

  justify-content: center;
  align-content: center;


} 

/* Attack */
div .divider .attack  {
  grid-column: 3;
  
  text-align: center;
  background: #007bff;
 
 
  grid-area: Attack ;

  
}

/* Decay */
div .divider .decay  {

  grid-column: 4;
  
  background: #ffc107;
  text-align: center;
 
  grid-area: Decay;

}

/* Sustain */
div .divider .sustain  {
  grid-column: 1;
  
  text-align: center;
  background: #dc3545;
 
 
   grid-area: Sustain;

}

/* Release */
div .divider .release {
  grid-column: 1;
  
  text-align: center;
  background: #007bff;

  border-radius: 0px 0px 25px 0px;
  grid-area: Release;

}

