body{margin: 0px;}

/* Text color slider and label */
.yeahdiv> div{
  border-radius: 25px;
  background-color: none;
  color: white; 
  font-size: .5rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}



  
 div .yeahdiv {
   
    display: grid;
    grid-template-columns: 25%  20% 10% 10% 10% 10% ;
    grid-template-rows: 80px   ;
   justify-content: right;
   padding-right: 15px;

  }
  
div.controlWave{
  grid-column: 1;
  grid-row: 1/2
}


/* FilterF   */
div .divider .filterF { 
  
  grid-row: 3;
  text-align: center;
  background: rgb(211, 103, 3);
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  grid-area: FilterF ;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


/* FilterG */
 div .divider .filterG{
  
  grid-column: 2;

  background: orange;  
  text-align: center;

 
  grid-area: FilterG ;

  justify-content: center;
  align-content: center;
  border-radius: 25px;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  border-width: 2px;
} 

/* Attack */
div .divider .attack  {
  grid-column: 3;
  
  text-align: center;
  background: yellow;
  border-radius: 25px;
 
  grid-area: Attack ;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  
}

/* Decay */
div .divider .decay  {

  grid-column: 4;
  
  background: rgb(211, 103, 3);
  text-align: center;
  border-radius: 25px;
  grid-area: Decay;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/* Sustain */
div .divider .sustain  {
  grid-column: 1;
  
  text-align: center;
  background: rgb(211, 103, 3);
 
  border-radius: 25px;
   grid-area: Sustain;
   font-weight: bolder;
   border-style: solid;
   border-color: black;
   border-width: 2px;
}

/* Release */
div .divider .release {
  grid-column: 1;
  
  text-align: center;
  background: yellow;

  border-radius: 25px;
  grid-area: Release;
  font-weight: bolder;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

