.toolbar{
  position: static;
  width: 100%;
  background:#d9480f; 
  height: 56px;
  border-radius: 10px 10px 0px 0px;
 
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 99;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: none;
  padding: none;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem
}


.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items a:hover{
  color: red;
  background: red
}
.toolbar_navigation-items a:active {
  color:black;
}
