/* body{
	width: 80%;
} */

/* html{
	height: 100%;
}  */


svg {
	float: left;
	fill: black;




}

.wrap.three {
	overflow:hidden;
	position: absolute;

}

.triangle-canvas {
	position: absolute;
	right: 46rem;
	top: 13%;
	width: 62rem;
	height: 38rem;
  

}

.triangle {
	fill: orangered;
	stroke: blue;
	stroke-width: 15;
	transform-origin: center center ;
	animation: triangle-animation 10s linear infinite;
}
.triangle-1 {
  animation-delay: 0s;
  
}
.triangle-2 {
  animation-delay: -0.5s;
  stroke: red;
}
.triangle-3 {
  animation-delay: -1s;
  stroke: blue;
}
.triangle-4 {
  animation-delay: -1.5s;
  stroke: yellow;
}
.triangle-5 {
	animation-delay: -2s;
}
.triangle-6 {
  animation-delay: -2.5s;
  stroke: red;
}
.triangle-7 {
  animation-delay: -3s;
  stroke: yellow;
}
.triangle-8 {
	animation-delay: -3.5s;
}
.triangle-9 {
  animation-delay: -4s;
  stroke: red;
  
}
.triangle-10 {
  animation-delay: -4.5s;
  stroke: yellow;
}
.triangle-11 {
	animation-delay: -5s;
}
.triangle-12 {
  animation-delay: -5.5s;
  stroke: red;
}
.triangle-13 {
  animation-delay: -6s;
  stroke: yellow;
}
.triangle-14 {
	animation-delay: -6.5s;
}
.triangle-15 {
  animation-delay: -7s;
  stroke: yellow;
}
.triangle-16 {
  animation-delay: -7.5s;
  stroke: red;
}
.triangle-17 {
	animation-delay: -8s;
}
.triangle-18 {
  animation-delay: -8.5s;
  stroke: yellow;
}
.triangle-19 {
	animation-delay: -9s;
}
.triangle-20 {
  animation-delay: -9.5s;
  stroke: red;
}

@keyframes triangle-animation{
	0%{
		transform: scale(0) rotate(0deg);
		opacity: 1;
	}
	
	60%{
		transform: scale(1.5) rotate(45deg);
		opacity: 0;
	}
}
