/* .wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .25rem .040rem;
  grid-area: inherit;
  grid-auto-rows: minmax(2rem, auto)
} */

.synth {
  width: 100%;
  font-size: 20rem;
  font-family: system;
  color: #2A77AE;
  background: #d62222;
  margin-bottom: 5rem;
}

.waveform{
   
  color: #d62222;
  display: grid;
  width: 50px; 
}




/* Input box sizing  */
.control{
 padding: 1rem 5rem 5rem 5rem;
 width: 90%;
 height: 80%;

 
}




label{
  text-align: center;
  align-items: center;
}

input {
  align-items: center;
  text-align: right;
  font-size: 10rem;

  border-radius: 1rem 1rem 1rem 1rem;
  width: 100%;
  height: 40px;
  
  background-color: ivory;
}

.synth__all{
  align-items: grid;
  padding: .10rem 4rem 2rem 1rem; 
  display: grid;
  width: 50px;
}
